@model WebApplication.ViewModels.LoginModel
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login_css.css")" />
</head>
<body>
    <div class="back">
        <div class="main_text">Вход</div>
        @using (Html.BeginForm("Login", "Account"))
        {


            <form method="post">

                <div>
                    <label>Введите имя пользователя</label><br />
                    <input type="text" name="userName" required />
                    <div class="error">
                        @Html.ValidationMessageFor(model => model.userName)
                    </div>
                </div>
                <div>
                    <label>Введите пароль</label><br />
                    <input type="password" name="password" required />
                    <div class="error">
                        @Html.ValidationMessageFor(model => model.userName)
                    </div>
                </div>
                <div><input type="submit" value="Войти" /></div>
                <div class="error">@ViewBag.Error</div>

            </form>
        }
        <a href="@Url.Content("~/Account/Registration")">Регистрация</a>
    </div>
</body>