@model WebApplication.ViewModels.RegisterModel
<head>
    <link rel="stylesheet" type="text/css"  href="@Url.Content("~/Content/logincss.css")" />
</head>
<body>
    <div class="back">
        <div class="main_text">Регистрация</div>
        <form method="post" style="height:calc(80% - 20px)">
                
            <div>
                <label>Введите имя пользователя</label><br />
                <span class="info_text">Имя пользователя должно включать от 5 до 50 символов. Имя регистрозависимо.</span>
                <div class="error">
                    @Html.ValidationMessageFor(model => model.userName)
                </div>
                <div class="error">@ViewBag.Error</div>
                <input type="text" name="userName" required />

            </div>
                <div>
                    <label>Введите пароль</label><br />
                    <span class="info_text">Пароль должен включать от 8 до 50 символов. Пароль регистрозависим.</span>
                    <div class="error">
                        @Html.ValidationMessageFor(model => model.password)
                    </div>
                    <input type="password" name="password" required />
                    
                </div>
                <div>
                    <label asp-for="PasswordConfirm">Повторите пароль</label><br />
                    <div class="error">
                        @Html.ValidationMessageFor(model => model.checkPassword)
                    </div>
                    <input type="password" name="checkPassword" required />
                    
                </div>
                <div>
                    <label>Введите Email</label><br />
                    <div class="error">
                        @Html.ValidationMessageFor(model => model.email)
                    </div>
                    <input type="text" name="email" required />
                    
                </div>
                <div>
                    <input type="submit" value="Регистрация" />
                </div>

        </form>
</div>
</body>